#header {
    background-color: #0D4F48;
    width: 100%;
}

.header {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    font-family: 'Open Sans', sans-serif;

}

.logo h1 {
    color: white;
    font-size: 2vw;
    margin: auto;
    text-align: center;
}   


.menu1 {
    position: absolute;
    right: 3vw;
    margin-top:  -1vw;
    list-style-type: none;
}

.menu1 a{
    color: white;
}

